.academicsImgCont {
    height: 30vh;

    img{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

// details{
//     background-color: #d2cfcf;
//     padding: 2rem;
//     border: 2px solid $navColor;
//     margin-top: 2rem;

//     summary{
//         color: $navColor;
//         padding-bottom: 1rem;
//     }
// }