{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block body %}

{% set image_src = url_for('static', filename='images/University.webp') %}
{% set alt_text = "About" %}
{% set link_url = url_for('about') %}
{% set link_text = "About Lunverra" %}

{% include "hero.html" %}

<section class="found">
    <div class="campusnote">
        <div class="gradicon">
            <img src="/static/images/gradicon.webp"  alt="Lunverra">
        </div>
        <p>Founded in 2023, Lunverra University is a co-educational, state-assisted, comprehensive, regional, four-year university in Greenwood, S.C. With approximately 4,300 students, Lunverra provides exceptional educational opportunities within its traditional liberal arts and science programs, and its professional programs in business, education and nursing.
    </div>
</section>

<section class="aboutSec">
    <div class="aboutGrid">
        <div class="boxes">
            <h3>Mission and Outlook</h3>
            <p>
                Brooks has always stood firmly for the ideals of academic excellence, intellectual curiosity, egalitarianism, social justice and freedom.
                <br>
                Learn more:
            </p>
            <div class="aboutDiv">
                <ul>
                    <li>
                        <a href="">Mission and Outlook</a>
                    </li>
                    <li>
                        <a href="">Our History</a>
                    </li>
                    <li>
                        <a href="">Facts and Figures</a>
                    </li>
                    <li>
                        <a href="">A to Z Index</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxes">
            <h3>College Updates</h3>
            <p>
                Know more about our College.
                <br>
                Learn more:
            </p>
            <div class="aboutDiv">
                <ul>
                    <li>
                        <a href="">Academic Year 2022-23</a>
                    </li>
                    <li>
                        <a href="">Brooks News</a>
                    </li>
                    <li>
                        <a href="">Dean of the Faculty</a>
                    </li>
                    <li>
                        <a href="">Finance and Administration</a>
                    </li>
                    <li>
                        <a href="">Office of the President</a>
                    </li>
                    <li>
                        <a href="">Sustainability Roadmap</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxes">
            <h3>Our Community</h3>
            <p>
                Our home in Lewiston, Maine, is the perfect site for engaged learning in a vibrant, dynamic, and accessible community. Lewiston is the new college town. Plan a visit and see for yourself:
                <br>
                Learn more:
            </p>
            <div class="aboutDiv">
                <ul>
                    <li>
                        <a href="">Lewiston and Auburn</a>
                    </li>
                    <li>
                        <a href="">Local Dining & Accommodations</a>
                    </li>
                    <li>
                        <a href="">Campus Reservations</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxes">
            <h3>Contact Us</h3>
            <p>
                Contact us below.
            </p>
            <div class="aboutDiv">
                <ul>
                    <li>
                        <a href="mailto:olukoyaesther234@gmail.com">Our mail</a>
                    </li>
                    <li>
                        <a href="tel:+2349063601587">Telephone</a>
                    </li>
                    <li>
                        <a href="https://google.com">Google</a>
                    </li>
                    <li>
                        <a href="https://instagram.com">Socials</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxes">
            <h3>Office and Departments</h3>
            <div class="aboutDiv">
                <ul>
                    <li>
                        <a href="">All Offices and Departments</a>
                    </li>
                    <li>
                        <a href="">Human Resources</a>
                    </li>
                    <li>
                        <a href="">Student Accounts</a>
                    </li>
                    <li>
                        <a href="">Business Office</a>
                    </li>
                    <li>
                        <a href="">Information Technology Services</a>
                    </li>
                    <li>
                        <a href="">University Relations and Publications</a>
                    </li>
                    <li>
                        <a href="">Physical Plant and Work Request</a>
                    </li>
                    <li>
                        <a href="">Institutional Effectiveness</a>
                    </li>
                    <li>
                        <a href="">Procurement</a>
                    </li>
                    <li>
                        <a href="">Alumni Engagement</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxes">
            <h3>Leadership</h3>
            <div class="aboutDiv">
                <ul>
                    <li>
                        <a href="">Brook's Leadership</a>
                    </li>
                    <li>
                        <a href="">The Brook's Foundation</a>
                    </li>
                    <li>
                        <a href="">Board of Trustees</a>
                    </li>
                    <li>
                        <a href="">President's Office</a>
                    </li>
                    <li>
                        <a href="">Executive Leadership</a>
                    </li>
                    <li>
                        <a href="">Academic Affairs</a>
                    </li>
                    <li>
                        <a href="">Student Affairs</a>
                    </li>
                    <li>
                        <a href="">Faculty Senate</a>
                    </li>
                    <li>
                        <a href="">Staff Senate</a>
                    </li>
                    <li>
                        <a href="">Diversity Advisory Council</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include "contact.html" %}

{% endblock %}