{% extends "layout.html" %}

{% block title %}
    Academics
{% endblock %}

{% block body %}

<section class="academicsImgCont">
    <img src="/static/images/close-up-people-studying-library.webp" alt="Academics">
</section>

    
<section class="nav-about">
    <div class="navicons">
        <a href="/"> <img src="/static/images/homeicon.webp" height="20px" width="20px" alt="Home"> </a>
        <a href="/about">About Lunverra</a>
    </div>
</section>


<section class="academicsMainPage">
    <div class="academicsMainPageDiv">
        <div class="academicsnote firstbox">
            <h1>Academics</h1>
            <p>
                If you ask Brookside graduates what they value most about their time here,<br> as often as not they’ll say something like, "Brookside taught me how to think.”
                <br> Supported by a dedicated faculty, Lunverra students learn to explore broadly <br> and deeply, to cross disciplines, and to question rigorously.<br><br>

                At Brookside, students and faculty form a community of scholars who share a thirst <br> for learning, drawing on the methods of the sciences, the patterns of logic <br>and language, the study of societies, and expression in the arts. <br>
                <br>
                A Brookside education fosters intellectual inquiry and reflection, personal growth,<br> and a commitment to the world beyond oneself. Lunverra offers students a rigorous <br>academic experience in a collaborative and supportive environment.
            </p>
        </div>
        <div class="academicsnote secondbox">
            <div class="sap">
                <a href="/">Student Advising Portal</a>
            </div>
            <div class="topLinksCont ">
                <hr>
                <h1>Top Links</h1>
                <a href="" >Admission Requirements</a> <br>
                <a href="" >Course Catalog</a> <br>
                <a href="" >Faculty (complete list)</a> <br>
                <a href="" >Graduation Requirements</a> <br>
                <a href="" >Off-Campus Study</a> <br>
                <a href="" >Pre-Health Study</a> <br>
                <a href="" >Short Term</a> <br>
                <a href="" >Tuition</a> <br> <br> <br>
            </div>
        </div>
    </div>
</section>

<section class="coursesMainContainer">
    <div>
        <h1>Profound Courses from Brookside</h1>
    </div>
    
    <div class="courses-container">

        <div class="course-card" style="background-image: url('/static/images/courses computersc.webp');">
            <div class="course-content">
            <h3>Computer Science</h3>
            <button>View Course</button>
            </div>
        </div>
        
        <div class="course-card" style="background-image: url('/static/images/courses slt.webp');">
            <div class="course-content">
            <h3>Science Lab Technology</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses physics.webp');">
            <div class="course-content">
            <h3>Bio Chemistry</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses masscomm.webp');">
            <div class="course-content">
            <h3>Mass Communication</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses law.webp');">
            <div class="course-content">
            <h3>Law</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses engineering.webp');">
            <div class="course-content">
            <h3>Engineering</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses politicalsc.webp');">
            <div class="course-content">
            <h3>Political Science</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses math.webp');">
            <div class="course-content">
            <h3>Mathematics</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/coursesmusicc.webp');">
            <div class="course-content">
            <h3>Music</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses english.webp');">
            <div class="course-content">
            <h3>Enviromental Studies</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses neuro.webp');">
            <div class="course-content">
            <h3>Neuroscience</h3>
            <button>View Course</button>
            </div>
        </div>

        <div class="course-card" style="background-image: url('/static/images/courses physics.webp');">
            <div class="course-content">
            <h3>Sociology</h3>
            <button>View Course</button>
            </div>
        </div>

    </div>
</section>
{% endblock %}
