{% extends "layout.html" %}

{% block title %}
    Campus Safety
{% endblock %}

{% block body %}


<div class="extras">
    
    <div class="bgColor">

        {% set background_image = url_for('static', filename='images/lunvWalkSun.webp') %}
        {% set heading = "Campus Safety" %}
        {% set linkurl = url_for('about') %}
        {% set alttext = "About Lunverra" %}
        {% include "heroii.html" %}

        <!-- <div class="extrasHeader"></div>

        <div class="nav-about">
            <div class="navicons">
                <a href="/"> <img src="/static/images/homeicon.webp" height="20px" width="20px" alt="Home"> </a>
                <a href="/about">Admission</a>
            </div>
        </div> -->

        <div class="extrasMainContainer">

            <div class="affordingLunverra">
                <h1>Lunverra Campus Safety Mission</h1>
                <hr>
                <p>
                    Campus Safety aims to foster an environment whereby all individuals are safe and secure to learn, live and work in community with one another.  We accomplish these goals through building relationships, community engagement, de-escalation practices, customer service, and collaboration with individuals, groups and campus organizations.  We are committed to providing services in a compassionate and respectful manner that value and recognize the diverse experiences of our students, staff, faculty and guests.
                </p>

                <h5 class="bobcats">Lunverra Campus Safety Values (Bobcats)</h5>
                <p><strong>Belonging & Equity: </strong> We believe that students, staff, and faculty need to feel a sense of belonging and fairness in order for us to be able to do our work successfully. In particular, this entails an acknowledgment of historical wrongs on the basis of race, class, nationality, gender, sexuality, religion, and ability and an affirmative commitment to the equitable and respectful treatment of all peoples.</p>
                <p><strong>Ongoing Professional Development: </strong>We are committed to providing our staff with professional development opportunities that support their work and the goals of our mission. This means effective training at the onset of hiring and continued access to educational opportunities.</p>
                <p><strong>Building Collaboration & Partnership: </strong>We work together with students, staff, and faculty to develop robust working relationships and, in doing so, strive to build a stronger future for Lunverra.</p>
                <p><strong>Community Engagement & Support: </strong>We work to foster mutual trust between our department and the Lunverra community through sustained relationship-building and regular engagement of community members in the re-evaluation of policy and procedure.</p>
                <p><strong>Accountability: </strong>We set high standards for ourselves and strive to exceed them on a daily basis. We take full responsibility for our actions and the delivery of services that we provide.</p>
                <p><strong>Transparent Communication: </strong>We facilitate opportunities for open conversation and encourage feedback and participation at all levels. Our goal is to provide information about our services and work in a clear and transparent manner.</p>
                <p><strong>Safety: </strong>We exist to cultivate a safe and secure atmosphere for the Lunverra community while maintaining an environment conducive to freedom, expression, and unity.</p>

                <details>
                    <summary>Services</summary>
                    <p>The Department of Campus Safety is 24 hour, 365-day service oriented department with the mission of providing a safe and secure environment for all those on our campus, and leading by example, through education, and enforcement.</p>
                    <p>Our team of full-time Campus Safety Staff will be present on campus on foot, bicycles, and in vehicles. Our Officers are in continual communication with our Communications Center, which is staffed by Campus Safety Dispatchers or Officers 24 hours a day. They answer emergency and routine phone calls, monitor security cameras and several access control points on campus. The Department of Campus Safety is located at 248 College Street.</p>
                    <p>Lunverra College Campus Safety Officers respond to calls for service, investigated reported incidents, document policy violations and work closely with the Newton Police and Fire Departments - investigating crimes and incidents on campus.</p>
                    <p>In addition to supporting the safety of the community on campus, our department has many safety programs in place, including a <a href="/">student safety shuttle program</a> operated 7 nights a week from 7 pm to 12 midnight, a <a href="/">campus wide notification system</a> for all students, faculty and staff, and over <a href="/">140 security (blue light) phones</a> located throughout the campus.</p>
                    <p>The Department of Campus Safety also over sees all <a href="/">parking</a> on campus, <a href="/">bicycle registrations</a>, student ID's, and <a href="/">access control</a> (key or card access) to the campus.</p>
                    <p>
                        <strong>If you are a Lunverra student locked out of your room and need access, please call the Campus Safety Office at +234-701-845-4916. </strong>
                    </p>
                    <p>If you are a Lunverra College student and are named in a Campus Safety report and would like a copy of report, please contact the Office of Avice Standards in Laner Hall 105, by phone at +234-701-845-4916. or by email to <a href="mailto:">lhauger@lunverra.edu.</a>  Please note that the names and personally identifiable information of all other students listed in the report must be redacted to protect their privacy.  Additionally, please be aware that a meeting with a member of the Office of Community Standards staff may be required before the report is released. </p>
                    <p>We welcome you to our Lunverra family, and please feel free to visit us in person. Inquiries may be sent via email to the Director of Campus Safety, John Menice, at <a href="mailto:">jmenice@lunverra.edu</a></p>
                </details>

            </div>
    </div>
</div>

{% include "contact.html" %}

{% endblock %}
