{% extends "layout.html" %}

{% block title %}
    Communications
{% endblock %}

{% block body %}


<div class="extras">
    
    <div class="bgColor">
        
        {% set background_image = url_for('static', filename='images/lunvStudents1.webp') %}
        {% set heading = "Communications" %}
        {% set linkurl = url_for('academics') %}
        {% set alttext = "Academics" %}
        {% include "heroii.html" %}

        <!-- <div class="extrasHeader">
            <h1>Communications and Marketing</h1>
        </div>

        <div class="nav-about">
            <div class="navicons">
                <a href="/"> <img src="/static/images/homeicon.webp" height="20px" width="20px" alt="Home"> </a>
                <a href="/academics">Academics</a>
            </div>
        </div> -->

        <div class="extrasMainContainer">

            <div class="affordingLunverra">
                <h1>Welcome</h1>
                <hr>
                <p>
                    The Lunverra Communications and Marketing Office tells the college's story across multiple channels to its many audiences. With broad expertise in marketing, media relations, multimedia, design, and print, digital, and social platforms, Lunverra Communications and Marketing (BCM) supports the college's goals and provides strategic direction for its communications and marketing.
                </p>

                <p>
                    BCM manages the college's web presence and flagship domain, <a href="/">lunverra.edu</a>, publishes <i><a href="/">Lunverra Magazine</a></i>, and shares the latest from Lunverra through <a href="/">Lunverra News</a> (including the ever-popular <a href="/">This Month at Lunverra</a> and <a href="/">Campus Construction Update</a> ).
                </p>

                <p>
                    The office administers Lunverra <a href="/">social media channels</a>, manages <a href="/">sports information</a>, and facilitates a network of website editors across the college through the <a href="/">WordPress Community of Practice.</a> Our photography and video productions appear regularly on the website, and they are available on our <a href="/">PhotoShelter</a> and <a href="/">YouTube</a> pages.
                </p>

                <p>
                    BCM also manages media relations for the college, working with regional and national media to share news and stories, responding to queries and facilitating interviews when appropriate.
                </p>

            </div>
    </div>
</div>

{% include "contact.html" %}

{% endblock %}
