<section class="contactSec">
    <div class="contactflex">
        <div class="contactus">
            <h1>Contact</h1>
            <h2>Campus Life</h2>
            <p class="address">12 Campus Ave <br>
                MeChase Hall G04 <br>
                Lewiston, Maine 04200
            </p>
            <a href="tel:+23409063601587" class="tel">234-7018454916</a>
            <br> <br>
            <a href="mailto:olukoyaesther234@gmail.com" class="mail">Campuslife@lunverra</a>
        </div>
        <div class="contactus">
            <h3>Search Campus Life Pages</h3>
            <br> <br>
            <input type="search" class="searchbox">  
            <button>Search</button>
        </div>
    </div>
</section>