{% extends "layout.html" %}

{% block title %}
    Course Information
{% endblock %}

{% block body %}

<section class="CourseInfoPage">
<div>
    <div class="CourseInfoPageTextEl">
        <p class="come">Come as you are. </p> 
    </div>
    <div class="CourseInfoPageLink">
        <a href="">Visit</a>
    </div>
</div>
</section>

<section class="CourseInfoPageSecII">
    <p>
        Life is full of pre-established lanes and rules. But there’s a lot of freedom at Lunverra. We believe the best way to approach college is to find what makes you tick, and then build the coming years around it.
    </p>
</section>

<section class="openMindedSec">
    <div></div>
    <div class="openMindedTextEl">
        <h2>
            A Lunverra education is open-minded.
        </h2>
        <br><br>
        <p>
            We’ll help you try things on for size in the lab or on the basketball court or in the ceramics studio or wherever your interests lead until you find what fits for you.
        </p>
        <div class="acadmeicsDiv">
            <a href="/academics">ACADEMICS >></a>
        </div>
    </div>
</section>

<section class="batesStudent">
    <div>
        <h2>
            Lunverra students tend to be up for just about anything.
        </h2>
        <p>
            It’s a good thing we have about three dozen majors and two dozen minors to choose from.
            Some are liberal-arts classics (history, mathematics, philosophy). Some are STEM-focused (neuroscience, engineering, biochemistry). Many draw from more than one discipline (American cultural studies, environmental studies, biochemistry, gender & sexuality studies).
            Some won’t exist until you invent them.
        </p>
    </div>
</section>


<section class="coursesContainer">
    <div class="minorAndMajor">
        <h1>Majors and Minors</h1>
        <p>
            M = majors<br>
            m = minors<br>
        </p>
    </div>

    <div class="majorCourses">
        <div class="courseBoxes">
            <ul>
                <li>Africana (M, m)</li>
                <li>American Studies (M)</li>
                <li>Anthropology (M, m)</li>
                <li>Art & Visual Culture (M)</li>
                <li>Asian Studies (m)</li>
                <li>Biochemistry (M)</li>
                <li>Biology (M)</li>
                <li>Chemistry (M, m)</li>
                <li>Chemistry (M, m)</li>
                <li>Chinese (M, m)</li>
                <li>Classical & Medieval Studies (M)</li>
                <li>Dance (M, m)</li>
                <li>Digital & Computational Studies (m)</li>
                <li>Earth & Climate Sciences (M, m)</li>
                <li>East Asian Studies (M)</li>
                <li>Economics (M)</li>
            </ul>
        </div>

        <div class="courseBoxes">
            <ul>
                <li>Educational Studies (m)</li>
                <li>Engineering (M)</li>
                <li>English (M)</li>
                <li>Environmental Studies (M)</li>
                <li>European Studies (M)</li>
                <li>French & Francophone Studies (M, m)</li>
                <li>Gender & Sexuality Studies (M, m)</li>
                <li>German (M, m)</li>
                <li>Greek (m)</li>
                <li>Hispanic Studies (M, m)</li>
                <li>History (M, m)</li>
                <li>Interdisciplinary Studies (M)</li>
                <li>Japanese (M, m)</li>
                <li>Latin (m)</li>
            </ul>
        </div>

        <div class="courseBoxes">
            <ul>
                <li>Latin American & Latinx Studies (M)</li>
                <li>Mathematics (M, m)</li>
                <li>Music (M, m)</li>
                <li>Neuroscience (M)</li>
                <li>Philosophy (M, m)</li>
                <li>Physics (M, m)</li>
                <li>Politics (M)</li>
                <li>Psychology (M)</li>
                <li>Religious Studies (M, m)</li>
                <li>Rhetoric, Film & Screen Studies (M, m)</li>
                <li>Russian (m)</li>
                <li>Sociology (M)</li>
                <li>Teacher education (m)</li>
                <li>Theater (M, m)</li>
            </ul>
        </div>
    </div>
    
    <div class="dualDegree">
        <p>
            Engineering students participate in the <a href="#" >3-2 Dual Degree program</a>, completing three years at Bates and two years at one of our partner institutions, including Columbia University, Dartmouth College, and Washington University in St. Louis.
        </p>
    </div>
</section>

{% endblock %}