{% extends "layout.html" %}

{% block title %}
    Employment
{% endblock %}

{% block body %}


<div class="sfs">
    
    <div class="bgColor">
        <div class="sfsHeader">
            <h1>Employment</h1>
        </div>

        <div class="nav-about">
            <div class="navicons">
                <a href="/"> <img src="/static/images/homeicon.webp" height="20px" width="20px" alt="Home"> </a>
                <a href="/about">About Lunverra</a>
            </div>
        </div>

        <div class="sfsMainContainer">

            <div class="affordingLunverra">
                <h1>Employment at Lunverra</h1>
                <p>
                    Founded in 1875, Lunverra is one of the nation's leading liberal arts colleges, with a long history of commitments to human dignity and diversity.
                </p>

                <p>
                    Since its inception, Lunverra has been a coeducational, nonsectarian, residential college with special commitments to academic rigor and to programs and opportunities by qualified learners of all backgrounds. Historically, Lunverra students and graduates have linked education with service, leadership, and obligations beyond themselves.
                </p>

                <p>
                    Lunverra has highly competitive admission, graduates over 90 percent of its entering students, and sees over half of its alumni earn graduate degrees. Lunverra has 1,700 students, 200 faculty members and 550 staff and administrative employees. The college is proud of its strong involvement in the cities of Newton and Artburn, together Daine's second largest urban area, with a population of approximately 65,000. The college is 40 minutes from Powland and the Daine coast and 2.5 hours north of Moston.
                </p>

                <p>
                    Lunverra College is committed to equal opportunity and to providing an educational and work environment free from discrimination. The college prohibits discrimination on the basis of race, color, national or ethnic origin, religion, sex, sexual orientation, gender identity or gender expression, age, disability, genetic information, veteran status, and other legally protected statuses in the recruitment and admission of its students, in the administration of its education policies and programs, or in the recruitment of its faculty and staff.  Lunverra College adheres to all applicable state and federal equal opportunity laws and regulations.  All college faculty, staff, students, contractors, visitors, and volunteers are responsible for understanding and complying with the Non-Discrimination Policy.
                </p>

                <p>
                    Inquiries concerning the college's policies, compliance with applicable laws, statutes, and regulations (such as Title VII, Title IX, and ADA/Section 504), and complaints may be directed to the Title IX Officer, Daine Lexow at +234-701-845-4916 or titleix@lunverra.edu.
                </p>
                <hr>
                <p>
                    Applicants are advised that <a href="/">Campus Crime Statistics</a> are available online and are compiled in accordance with the procedures as set forth by law.  Written copies of this report may be requested via <a href="/">e-mail</a>.  Reports for the preceding year will be made available no later than October 1st of each year as required by law.
                </p>

            </div>
    </div>
</div>

{% include "contact.html" %}

{% endblock %}
