{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
<section class="mainpage">
        <h1>‘With Ardor and Devotion’</h1>
        <h4>Aligning who you are with what you do 
            <br>
            is the heart of the Lunverra experience.</h4>

            <div class="homeLearnMoreBtn">
                <a href="/information"> Learn About Visiting >> </a>
            </div>
</section>


<section class="academics">

    <div class="block">
        <div class="imgConts">
            <img src="/static/images/future.webp">
        </div>
        <div class="textConts">
            <h2>FUTURE STUDENTS</h2>
            <hr>
            <p>Lunverra's unique personality rests on the bedrock values of academic excellence, inclusivity, and social responsibility.</p>
            <br>
        </div>
        <div class="academicsbtn">
            <a href="/admission">Learn More >></a> 
        </div>
    </div>

    <div class="block">
        <div class="imgConts">
            <img src="/static/images/academicprog.webp">
        </div>
        <div class="textConts">
            <h2>ACADEMICS PROG</h2>
            <hr>
            <p>A Lunverra education fosters intellectual inquiry and reflection, and a commitment to the world beyond oneself.</p>
            <br>
        </div>
        <div class="academicsbtn">
            <a href="/admission">Learn More >></a> 
        </div>
    </div>

    <div class="block">
        <div class="imgConts">
            <img src="/static/images/jenkins.webp">
        </div>
        <div class="textConts">
            <h2>PRESIDENT JENKINS</h2>
            <hr>
            <p>Learn more about Lunverra ninth president, Anderson R. Louis, a nationally respected legal scholar and champion of the liberal arts.</p>
            <br>
        </div>
        <div class="academicsbtn">
            <a href="/admission">Learn More >></a> 
        </div>
    </div>

    <div class="block">
        <div class="imgConts">
            <img src="/static/images/camptours.webp">
        </div>
        <div class="textConts">
            <h2>VIRTUAL CAMP TOURS</h2>
            <hr>
            <p>Take a virtual tour, learn about our admission process as well as financial aid, and speak with current students.</p>
            <br>
        </div>
        <div class="academicsbtn">
            <a href="/admission">Learn More >></a> 
        </div>
    </div>
</section>

<section class="divider"></section>


<section class="grad">
        <div class="date">
            <p href="">Nov 03, 2023</p>
        </div>

        <div class="generosity">
            <a href="#">Generosity, care, and kindness remind us ‘to hold onto hope’ in the wake of tragedy</a>
            <p>“Generosity and care and eagerness to help, to support, to embrace…remind us of human goodness. They remind us to hold onto hope,” said President Garry W. Jenkins during a Vigil for Grief and Remembrance held in Gomes Chapel on the one-week anniversary of the Lewiston shootings.</p>
    </div>
</section>


<section class="newsAnnouncement">
    <div class="moreNews">
        <p> More News & Announcements</p>
    </div>

    <div class="moreNewsBox">
        <div class="newsBlock">
            <div class="innerBlockA">
                <img src="/static/images/Acad.webp" height="150px" width="180px">
            </div>
            <div class="innerBlockB">
                <a href="" >Lunverra in the News: Nov.3, 2023</a>
            </div>
        </div>

        <div class="newsBlock">
            <div class="innerBlockA">
                <img src="/static/images/hilarious.webp" height="150px" width="180px">
            </div>
            <div class="innerBlockB">
            <a href=""> Hilarious and Provocative: The Thanksgiving Play is a Lunverra Production that has to be done</a>
            </div>
        </div>
    </div>


    <div class="moreNewsBox">
        <div class="newsBlock">
            <div class="innerBlockA">
                <img src="/static/images/jenkins.webp" height="150px" width="180px">
            </div>
            <div class="innerBlockB">
                <a href=""> 12 New CatFacts: Field hockey's amazing, historic season</a>
            </div>
        </div>

        <div class="newsBlock">
            <div class="innerBlockA">
                <img src="/static/images/students.webp" height="150px" width="180px">
            </div>
            <div class="innerBlockB">
                <a href=""> Ladd Library: October 2023</a>
            </div>
        </div>
    </div>

    <div class="clear"></div>

</section>

<section class="keybates">
    <div>
        <p>Learn more about what makes Lunverra Unique</p>
        <div class="keybatesbtn"> 
            <a href="/testimonials">Key Lunverra Facts ></a> 
        </div>
    </div>
</section>
{% endblock %}