{% extends "layout.html" %}

{% block title %}
    Information Centre
{% endblock %}

{% block body %}
<div class="infoPage">
    <section class="honorsCollege">
        <div></div>
        <div class="honorsFlex">
            <div>
                <h2>
                    The Honors College
                </h2>
                <p>
                    Are you looking for that extra challenge in your educational experience? Then, Lunverra Honors College may be for you. Lunverra Honors College members are encouraged to study abroad and are eligible for supplemental funding through the Global Scholars Program. Are you looking for that extra challenge in your educational experience? Then, we may be for you. 
                </p>
                <div>
                    <a href=""> LEARN MORE <img src="/static/images/forwardarrow.webp" height="50px" width="50px"> </a>
                </div>
            </div>
        </div>
    </section>


    <section class="places">
        <p>
            Lunverra University encourages its students to experience another culture first hand by living and studying abroad. Our world is wide. From Ireland to Greece, Québec to Perú, Israel to Thailand to Australia, no matter where you choose to go, you will experience the world in a new way, gaining knowledge, insights and perspectives that can only be achieved through being there. 
        </p>
    </section>

    <section class="lunverraStudent">
        <h2>
            Lunverra students tend to be up for just about anything.
        </h2>
        <p>
            It’s a good thing we have about three dozen majors and two dozen minors to choose from.
            Some are liberal-arts classics (history, mathematics, philosophy). Some are STEM-focused (neuroscience, engineering, biochemistry). Many draw from more than one discipline (American cultural studies, environmental studies, biochemistry, gender & sexuality studies).
            Some won’t exist until you invent them.
        </p>

        <div class="majorMinor">
            <div>
                <h1>Top Majors and Minors</h1>
                <ul class="courseTitle">
                    <li>M = majors</li>
                    <li>m = minors</li>
                </ul>
            </div>

            <div class="majorMinorGrid">
                <div>
                    <ul>
                        <li>American Studies (M)</li>
                        <li>Africana (M, m)</li>
                        <li>Anthropology (M, m)</li>
                        <li>Asian Studies (m)</li>
                        <li>Biology (M)</li>
                        <li>Chemistry (M, m)</li>
                        <li>Chinese (M, m)</li>
                        <li>Digital & Computational Studies (m</li>
                        <li>Earth & Climate Sciences (M, m)</li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>Engineering (M)</li>
                        <li>English (M)</li>
                        <li>European Studies (M)</li>
                        <li>French & Francophone Studies (M, m)</li>
                        <li>Gender & Sexuality Studies (M, m)</li>
                        <li>German (M, m)</li>
                        <li>Greek (m)</li>
                        <li>History (M, m)</li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li>Latin American & Latinx Studies (M)</li>
                        <li>Mathematics (M, m)</li>
                        <li>Music (M, m)</li>
                        <li>Neuroscience (M)</li>
                        <li>Philosophy (M, m)</li>
                        <li>Physics (M, m)</li>
                        <li>Politics (M)</li>
                        <li>Rhetoric & Film</li>
                        <li>Russian (m)</li>
                    </ul>
            </div>
            <div class="applyBtn">
                <a href="">Apply</a>
            </div>
        </div>
    </section>
   
    <section class="resources">
        <div class="resourcesTxt">
            <h1>Resources</h1>
        </div>
        <div class="resourceGrid">
            <div>
                <img src="/static/images/signapply.webp" alt="icon">
                <br>
                <a href="/application">Apply</a>
            </div>
            <div>
                <img src="/static/images/signdollar.webp" alt="icon">
                <br>
                <a href="">Financial Planning</a>
            </div>
            <div>
                <img src="/static/images/signquestion.webp" alt="icon">
                <br>
                <a href="">FAQs</a>
            </div>
            <div>
                <img src="/static/images/signcovid.webp" alt="icon">
                <br>
                <a href="">More Information</a>
            </div>
        </div>
    </section>

</div>
{% endblock %}