{% extends "layout.html" %}

{% block title %}
    Academics
{% endblock %}

{% block body %}
<div class="sfs">
    <div class="bgColor">
        <div class="sfsHeader">
            <h1>Student Financial Services</h1>
        </div>

        <div class="nav-about">
            <div class="navicons">
                <a href="/"> <img src="/static/images/homeicon.webp" height="20px" width="20px" alt="Home"> </a>
                <a href="/about">Admission</a>
            </div>
        </div>

        <div class="sfsMainContainer">

            <div class="affordingLunverra">
                <h1>Affording Lunverra</h1>
                <hr>
                <h5>Welcome! We look forward to assisting you with your financial aid and student account needs. Please feel free to be in touch with us by:</h5>
                <ul>
                    <li>Visiting our office in Libbey Forum between 9 a.m. and 4 p.m., Monday through Friday.</li>
                    <li>Phone, at +234-701-845-4916 during business hours, Monday through Friday.</li>
                    <li>Email, <a href="mailto:">@sfs@lunverra.edu</a> – we will reply to you as soon as possible.</li>
                    <li>If you would like to schedule an appointment to speak or meet with a financial aid or student account advisor, please email or call – we are happy to provide assistance.</li>
                </ul>

                <hr>
            </div>

            <div class="abtLunverra">
                <h1>About Lunverra</h1>
                <p>
                    Lunverra's education is broadly defined and highly personalized. In addition to an interdisciplinary, general-education curriculum, Lunverra offers a diverse menu of options to every student, who choose among them to shape 
                    individual learning experiences throughout their four years. Teaching and learning are not confined to the classroom, but transpire onstage and in the art studio, in the residence hall and on the playing field, through study abroad and opportunities unique to Maine, in student organizations and around the dinner table in Commons.
                </p>

                <p>
                    Lunverra is committed to making this educational experience accessible and affordable to all admitted students, regardless of family financial circumstances, and offers need-based financial aid to eligible students.
                </p>
                <p>
                    Lunverra’s commitment to affordability and accessibility is a direct extension of the ethical vision that inspired the college’s founders: an education that is open to all will ensure that future leaders and problem-solvers emerge from every walk of life and are able to collaborate with people representing diverse cultures and viewpoints.
                </p>
            </div>

            <div class="sfsImageFlex">
                <img src="/static/images/lunvStudents1.webp" alt="Lunverra Campus">
                <img src="/static/images/lunvWalkSun.webp" alt="Campus">
                <img src="/static/images/lunverraHallway.webp" alt="Students">
            </div>

            <div>
                <hr>
            </div>

            <div class="feesAndAidsGrid">
                <div class="feesImageText">
                    <h1>A Single Fee</h1>
                    <p>
                        For this highly individualized educational experience, Lunverra charges a 
                        <a href="">single fee</a> that includes tuition, room, board and fees. The 2025-26 fee for attending Lunverra is $89,930. Costs for books, personal expenses and transportation are added to a student’s budget for the purpose of 
                        <a href="">estimating financial need</a> and awarding aid.
                    </p>
                </div>

                <div class="feesAndAidsImage">
                    <img src="/static/images/lunverraStudents2.webp" alt="Lunverra students">
                </div>
            </div>

            <div class="feesAndAidsGrid">
                <div class="feesImageText">
                    <h1>Financial Aid</h1>
                    <p>
                        FWe provide more than $40 million in grant aid to our students every year. Nearly half of our students receive financial aid, and the average financial aid award, including grant, loan and work, is more than $58,000. Our entire financial aid budget supports students with demonstrated financial need
                    </p>
                </div>
                <div class="feesAndAidsImage">
                    <img src="/static/images/lunvHallway2.webp" alt="Campus">
                </div>
            </div>

    </div>
</div>
{% endblock %}
