{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block body %}
<div class="loginCont">

    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>

    <form class="login-container" action="/signup" method="post">
        <h2>Sign Up</h2>

        <div class="input-group">
            <i class="fa fa-user"></i>
            <input type="text" name="firstname" required placeholder="First Name">
        </div>

        <div class="input-group">
            <i class="fa fa-envelope"></i>
            <input type="email" name="email" required placeholder="Email">
        </div>

        <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" name="password" required placeholder="Password">
        </div>

        <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" name="confirmpassword" required placeholder="Confirm Password">
        </div>

        <button class="login-btn" type="submit">Sign Up</button>

        <div class="signup-link">
            Already have an account? <a href="/login">Login</a>
        </div>
    </form>
</div>
{% endblock %}
