{% extends "layout.html" %}

{% block title %}
    Students
{% endblock %}


{% block body %}
<div class="studentsDiv">
    {% if is_admin %}
        
        <div>
            <h1>Lunverra Students List</h1>

            <div class="tableHeader">
                <p>Name</p>
                <p>Registration Number</p>
                <p>Program</p>
                <p>Remove</p>
            </div>

            <div class="tableBody">
                {% for student in students %}
                    <li>{{ student.firstname }} {{ student.lastname or ''}}</li>
                    <li>{{ student.registrationNumber }}</li>
                    <li>{{ student.program or "No Application" }}</li>
                        {% if isAdmin and student.id != currentUserID %}
                        <form action="/deletestudent/{{ student.id }}" method="post" 
                            onsubmit="return confirm('Are you sure you want to delete this student?');">
                            <button type="submit" class="deletestudentBtn">Delete</button>
                        </form>
                        {% else %}
                        <li><strong style="color: green;">Admin</strong></li>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h3>Access denied. Admins only!</h3>
        </div>
    {% endif %}
</div>
{% endblock %}

